In [ ]:
!pip install duckdb
!pip install streamlit

In [1]:
import streamlit
import duckdb

In [2]:
con = duckdb.connect(database='itineraries.duckdb')

In [3]:
preview_data_query = "SELECT COUNT(*) FROM 'itineraries_snappy.parquet'"
con.execute(preview_data_query).df()

   count_star()
0      82138753

In [3]:
load_query = """
    CREATE OR REPLACE TABLE itineraries 
    AS SELECT
        flightDate,
        startingAirport,
        destinationAirport,
        -- travelDuration, /* inferred from Arrival & Departure */
        -- isBasicEconomy, /* not required for analysis */
        -- isRefundable, /* not required for analysis */
        -- isNonStop, /* applied as a filter on a single value */
        -- baseFare, /* not required for analysis */
        totalFare,
        seatsRemaining,
        segmentsAirlineName,
        segmentsArrivalTimeRaw,
        segmentsDepartureTimeRaw,
        segmentsCabinCode
    FROM '../itineraries_snappy.parquet'
    WHERE isNonStop
"""

con.execute(load_query)

FloatProgress(value=0.0, layout=Layout(width='100%'), style=ProgressStyle(bar_color='black'))

In [4]:
con.execute("SELECT count(*) FROM itineraries").df()

   count_star()
0      22066888